:root {
  --maincolor: #050567;
  --secondColor: #4d52d7;
  --transition: all 0.3s;
  --mainPadding: 0.5rem 3.5rem;
  --secondPadding: 0 3.5rem;
}

.contenuActu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    width: 100%;
  }

  #contenuActu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 5rem 0;

    a {
      text-decoration: none;

      .actu {
        width: 350px;
        // height: 525px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        transition: var(--transition);

        .image {
          width: 100%;
          height: 270px;
          margin-bottom: 1rem;
          // background-color: var(--maincolor);
        }

        .texArt {
          padding: 1rem;
          border-top: #ccc solid 1px;

          .titre {
            color: #3136bc;
          }
          .text-art {
            margin-top: 0.1rem;
            text-align: justify;
            color: #42424e;
          }
        }

        .piedArticle {
          display: flex;
          justify-content: space-between;
          margin: 1rem;
          padding: 1rem 0;
          border-top: #ccc 1px solid;
          color: #000;

          small {
            color: #868697;
          }

          .imgPied {
            border-radius: 50%;
            background-color: #3136bc;
            img {
              width: 50px;
              height: 100%;
            }
          }
        }
      }

      .actu:hover {
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
          rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
          rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
          rgba(0, 0, 0, 0.07) 0px 32px 64px;
        .texArt {
          transition: var(--transition);
          .text-art {
            color: #3136bc;
            transition: var(--transition);
          }
        }
      }
    }
  }
}

// MEDIAS QUERIES

@media screen and (max-width: 600px) {
  #contenuActu {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
