:root {
  --maincolor: #050567;
  --secondColor: #4d52d7;
  --transition: all 0.3s;
  --mainPadding: 0.5rem 3.5rem;
  --secondPadding: 0 3.5rem;
}

.createUser {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;

    input,
    select {
      padding: 0.5rem;
      border: 2px #cccccc solid;
      outline: none;
      font-size: 16px;
      color: #050567;
    }

    button {
      padding: 0.7rem;
      outline: none;
      background-color: #050567;
      color: #fff;
      border: 2px solid #050567;
      cursor: pointer;
      font-size: 16px;
      margin-top: -1rem;
    }

    button:hover {
      background-color: transparent;
      color: #050567;
      transition: var(--transition);
      font-weight: 600;
    }
  }
}

.btnAjoutUtilisateur {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  a {
    text-decoration: none;
    background-color: #050567;
    padding: 1rem;
    color: #fff;
  }
}

.utilisateurs {
  margin-top: 1rem;
}

.titreUtilisateurs {
  border-bottom: 2px solid #050567;
  color: #050567;
  font-weight: 600;
}
